!!! 5
%html
  %head
    %title= "FLAC Archive Browser"
    %link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css") 
    %link(rel="stylesheet" href="/style.css")
    %script(type="text/javascript" src="http://code.jquery.com/jquery-latest.js")
    %script(type="text/javascript" src="/bootstrap/js/bootstrap.min.js")

  %body

    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{:"data-toggle"=>"collapse", :"data-target"=>".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href:'/'} FLAC Archive Browser
          .nav-collapse.collapse
            %ul.nav
              %li.active
                %a{href:@folder.parent_browse_path}= @folder.parent_name
          -#     %li
          -#       %a{href:"#"} About
          -#     %li
          -#       %a{href:"#"} Contact

    #content.container
      %h3= @folder.name

      - if @folder.folders?
        %p Folders:
        %table.table.table-striped.table-bordered.table-hover.table-condensed
          - @folder.folders.each do |folder|
            %tr
              %td
                %a{href:folder.browse_path}= folder.name

      - if @folder.flacs?
        %p Info file:
        %pre.info-file= @folder.info_file

        %p FLACs:
        %table.table.table-striped.table-bordered.table-hover.table-condensed
          %thead
            %tr
              %th
                file
              %th
                listen
              %th 
                size
              %th{colspan:3}
                download
          %tbody
            - @folder.flacs.each do |flac|
              %tr
                %td
                  = flac.name
                %td
                  %a{href:flac.listen_path}= flac.title
                %td
                  = flac.size
                %td
                  %a{href:flac.flac_path} FLAC
                %td
                  %a{href:flac.mp3_path} MP3
                %td
                  %a{href:flac.vorbis_path} OGG/Vorbis
